body{
    margin: 0;
    padding: 0;
    #App{
        #colors{
            width: 100%;
            height: 100vh;
            position: absolute;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            .row{
            }
            #row1{
                background: #FF9A85;
            }
            #row2{
                background: #FFD785
            }
            #row3{
                background: #EAFF85;
            }
            #row4{
                background: #ADFF85;
            }
            #row5{
                background: #85FFD7;
            }
        }
        #wrap{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            height: 100vh;
            .block{
                //border: solid #0f0f0f;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                h1{
                    position: absolute;
                    z-index: -1;
                    user-select: none;
                }
            }
        }
    }
}